#bigCard {
  overflow: hidden;
  border-radius: 40px;
  margin-bottom: 20px;
}

#bigCardImg {
  border-radius: 40px;
}

#bigCardTitle {
  letter-spacing: 0em;
  text-align: left;
  width: 900px;
  font-family: "STHeiti";
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  color: #ffffff;
  font-size: 35px;
}

#bigCardText {
  line-height: 95px;
  letter-spacing: 0em;
  text-align: left;
  width: 270px;
  font-family: "STHeiti";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.smallCardImg {
  border-radius: 40px 40px 0px 0px !important;
  max-width: 700px;
  max-height: 350px;
}
