#bigCardImg {
  border-radius: 40px;
}

#bigCardTitle {
  font-family: "STHeiti";
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  color: #ffffff;
}

#bigCardText {
  font-family: "STHeiti";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  color: #ffffff;
}

#leftCardImg {
  border-radius: 40px 40px 0px 0px;
}

#rightCardImg {
  border-radius: 40px 40px 0px 0px;
}
