
div.topic-panel {
    padding: 50px 170px 50px 170px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;

}

div.grey {
    background-color: #f5f5f7; 
}

.white {
    background-color: #ffffff;
}

.topic-title {
    margin-bottom: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

a {
    color: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none !important;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
}

.department-block {
    display: flex;
    min-height: 240px;
    background-color: #f4f5f6;
    margin: 20px 0px;
}

.text-block, .vertical-title-block {
    height: fit-content;
    margin: auto;
    direction: ltr;
}

.vertical-title-block {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 32pt;
    padding: 20px;
}

.text-block {
    font-size: 13pt;
    padding: 60px 48px;
}

.footnote-block {
    font-size: 10pt;
    font-weight: 400;
    margin-bottom: 8px;
}