
div.topic-panel {
    padding: 50px 170px 50px 170px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;

}

div.grey {
    background-color: #f5f5f7; 
}

.white {
    background-color: #ffffff;
}

.topic-title {
    margin-bottom: 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

a {
    color: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none !important;
    text-align: left;
    font-weight: 500;
    font-size: 13px;
}
